.header-bg {
    background-color: rgba(255, 255, 255, 0.64);
  
  }
  .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 13px 50px;
      font-family: 'Be Vietnam Pro', sans-serif;
    }
    
    .logo {
      font-size: 34px;
      transform: scaleY(1.25) scaleX(1.3); 
      transform-origin: left center;
      letter-spacing: -0.04em;
      font-weight: 400;
      color: #333;
      position: relative;
      top: 6px;
    }

    .matches-navbtn {
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 40px;
        background-color: white;
    }
    
    .settings {
      display: flex;
      gap: 30px;
    }
    
    .settings a {
      text-decoration: none;
      color: #333;
      font-size: 14px;
      font-weight: 800;
    }
    
    .settings a:hover {
      color: #764ba2;
    }