.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  font-family: 'Be Vietnam Pro', sans-serif;
}

.logo {
  font-size: 36px;
  font-weight: 800;
  color: #333;
  position: relative;
  padding-left: 0;
  letter-spacing: normal;
  text-decoration: none;
}

.nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-item {
  text-decoration: none;
  color: #333;
  font-size: 15px;
  font-weight: 700;
  transition: color 0.2s ease;
  cursor: pointer;
}

.nav-item:hover {
  color: #d07225;
}

.nav-item a {
  text-decoration: none;
  color: #333;
  font-size: 15px;
  font-weight: 700;
}

.nav-item a:hover {
  color: #d07225;
}

.active-nav-btn {
  padding: 8px 20px;
  border-radius: 40px;
  background-color: #333;
  transition: background-color 0.2s ease;
}

.active-nav-btn:hover {
  background-color: rgb(70, 70, 70);
}

.active-nav-btn a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 700;
}

.active-nav-btn a:hover {
  color: white;
}

.logout-text {
  cursor: pointer;
  color: #333;
  font-size: 15px;
  font-weight: 700;
}

.logout-text:hover {
  color: #d07225;
}