body {
  background-image: url("./assets/images/mesh-gradient2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}